<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola mundo</title>
</head>
<body>

    <!--Tag If en Django -->
    {% if name == 'Ricardo' %}
       <h1>!Hola, Profe!</h1>
       <h2>Nombre: {{ name | upper }}</h2>
    {% elif name == 'Fernando' %}
       <h1>!Hola, Fernando!</h1>
    {% else %}
       <h1>!Hola, Invitado!</h1>
    {% endif %}
    <p>Edad: {{ age }}</p>
    <p>Fecha: {{ today | date:"d/m/Y"}}</p>

    <h3>Mi Lista de lenguajes favoritos son</h3>
    <ul>
      {% for lenguaje in stack %}
        <li>{{lenguaje}}</li>
      {% empty %}
        <li>Lo siento, no hay elementos para mostrar.</li>
      {% endfor %}
    </ul>
</body>
</html>