{% extends "base.html" %} <!-- Con el tag extends podemos heredar una plantilla y luego nosotros decidimos que cambiara-->
    
{% block title  %}
 Landing Page
{% endblock  %}


{% block content %}
<!--Tag If en Django -->
    {% if name == 'Ricardo' %}
       <h1>!Hola, Profe!</h1>
       <h2>Nombre: {{ name | upper }}</h2>
    {% elif name == 'Fernando' %}
       <h1>!Hola, Fernando!</h1>
    {% else %}
       <h1>!Hola, Invitado!</h1>
    {% endif %}
    <p>Edad: {{ age }}</p>
    <p>Fecha: {{ today | date:"d/m/Y"}}</p>

    <h3>Mi Lista de lenguajes favoritos son</h3>
    <ul>
      {% for tool in stack %}
        <li><a href="{% url 'stack' tool.id %}">{{tool.name}}</a></li>
      {% empty %}
        <li>Lo siento, no hay elementos para mostrar.</li>
      {% endfor %}
    </ul>
{% endblock content %}

